<template>
  <div class="product">
    <h1>My Cat</h1>
    <ul id="example-1">
        data
    <li v-for="item in items" :key="item.message">
        {{ item.message }}
    </li>
    </ul>
    data 2
  </div>
</template>
<script>
export default {
     el: '#example-1',
     data() {
            return {
               items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
            }
        }
 
}
</script>